body {
  background: url("../images/motherboard.jpg");
  margin: 0;
}
.gameArea {
  margin-top: 0px;
  text-align: center;
  background: url("../images/castle0.png") center no-repeat;

  margin: auto;
  background-position: center;
}

.sfLogoArea {
  text-align: center;
}

.sfLogo {
  width: 15%;
}

.osEdition {
  width: 10%;
  margin-left: -5%;
}

.instructions {
  color: yellow;
  font-size: 30px;
}

.health {
  text-align: center;
  color: yellow;
}

.pickArea {
  text-align: center;
  height: 150px;
}

.character {
  margin: 10px;
  border-radius: 15px;
  width: 150px;
  height: auto;
  border: solid #f2f55e 2px;
  transition: display 1s;
}

.healthArea {
  font-size: 30px;
  color: yellow;
}

.playerHealth {
  display: inline-block;
  text-align: right;
  width: 20%;
  height: 30px;
  background-color: yellow;
}

.vs {
  display: inline-block;
  font-size: 50px;
}
.playerDamage {
  display: inline-block;
  background-color: red;
  height: 30px;
  width: 0%;
}
.enemyHealth {
  display: inline-block;
  text-align: right;
  width: 20%;
  height: 30px;
  background-color: yellow;
}

.enemyDamage {
  display: inline-block;
  background-color: red;
  height: 30px;
  width: 0%;
}

.btn {
  color: red;
  background-color: yellow;
  height: 40px;
  width: 120px;
  margin: auto;
  border-radius: 30px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 4s;
}

.btn:hover {
  cursor: pointer;
}

.fightArea {
}

.playerArea {
  display: inline-block;
  width: 400px;
}

.enemyArea {
  display: inline-block;
  width: 400px;
}

.playerImage {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.enemyImage {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}


